<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Appointments</title>
    <script src="/js/indexJs.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <div class="relative inline-block mr-3">
                    <button class="text-center p-2 bg-blue-800 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Messages'), event">
                        <i class="fa fa-envelope text-xl font-light text-white px-2"></i>
                    </button>
                    <div id="Messages" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4 font-bold">
                            <li class="hover:bg-blue-100 p-2">You've got a message!</li>
                            <li class="hover:bg-blue-100 p-2">You have an appointment by 2 hours</li>
                            <li class="hover:bg-blue-100 p-2">Your pet is cleared for appointment</li>
                        </ul>
                    </div>
                </div>
                
                <div class="relative inline-block">
                    <button class="text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewPetList.html">Pets</a></li>
                            <li class="adminView hover:bg-blue-100 p-2 hidden"><a href="./ViewPetOwner.html">Pet Owners</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewAppoint.html">Appointments</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./index.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main> 
        <div class="sm:flex justify-center mt-7">
            <div class="bg-amber-100 space-y-6 mr-6 rounded-lg my-6 p-6 text-xl">
                <div class="flex flex-col">
                    <label for="">Reason For Visit</label>
                    <textarea class="p-3" name="" id="" cols="30" rows="6"></textarea>
                </div>
                <div>
                    <p>Pet In Concern:</p>
                    <select name="time" id="time" class="text-lg">
                        <option value="Lucky">Lucky</option>
                        <option value="Ferros">Ferros</option>
                        <option value="Milky">Milky</option>
                    </select>
                </div>
                <div>
                    <p>Select Date:</p>
                    <input
                        id = "birthdate"
                        type="text"
                        placeholder="mm/dd/yy"
                        class="text-box p-2 px-1 py-1 rounded-lg w-full h-full"
                    />
                </div>
                <div>
                    <p>Select Time Slot:</p>
                    <select name="time" id="time" class="text-lg">
                        <option value="8">8:00AM-9:00AM</option>
                        <option value="9">9:00AM-10:00AM</option>
                        <option value="10">10:00AM-11:00AM</option>
                        <option value="11">11:00AM-12:00NN</option>
                        <option value="13">1:00PM-2:00PM</option>
                        <option value="14">2:00PM-3:00PM</option>
                        <option value="15">3:00PM-4:00PM</option>
                    </select>
                </div>
                <div class="">
                    <label for="Veterinarian">Veterinarian: </label>
                    <select name="" id="">
                        <option value="Eric">Dr. Eric</option>
                        <option value="Ryan">Dr. Ryan</option>
                        <option value="AJ">Dr. AJ</option>
                    </select>
                </div>
                
            </div>
                
            <div class="bg-white rounded-lg my-6 p-6 text-center">
                <h2 class="flex justify-center mb-7 font-extrabold text-2xl">April 2024</h2>
                <div class="grid grid-cols-7 text-lg gap-1">
                    <p class="font-semibold">Monday</p>
                    <p class="font-semibold">Tuesday</p>
                    <p class="font-semibold">Wednesday</p>
                    <p class="font-semibold">Thursday</p>
                    <p class="font-semibold">Friday</p>
                    <p class="font-semibold">Saturday</p>
                    <p class="font-semibold">Sunday</p>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">1</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">2</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">3</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">4</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">5</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">6</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">7</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">8</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">9</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">10</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">11</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">12</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">13</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">14</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">15</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">16</a>
                    <a href="#" class="bg-red-500 p-5 rounded-md text-white">17</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">18</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">19</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">20</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">21</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">22</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">23</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">24</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">25</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">26</a>
                    <a href="#" class="bg-red-500 p-5 rounded-md text-white">27</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">28</a>
                    <a href="#" class="hover:bg-blue-500 p-5 rounded-md hover:text-white">29</a>
                    <a href="#" class="bg-blue-500 p-5 rounded-md text-white">30</a>
                </div>
                <div class="flex justify-end space-x-4 mt-7">
                    <a href="./ViewAppoint.html" class="bg-blue-500 hover:bg-blue-300 text-white p-2 rounded-lg">Book</a>
                    <a href="./ViewAppoint.html" class="border border-blue-800 hover:bg-blue-100 text-blue-800 p-2 rounded-lg">Cancel</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>
    <script>
        const lastDayOfMonth = new Date();
        lastDayOfMonth.setMonth(lastDayOfMonth.getMonth() + 1);
        lastDayOfMonth.setDate(0);
        flatpickr('#birthdate', {
          dateFormat: 'm/d/Y',
          minDate: 'today',
          disable: ['4/17/2024', '4/27/2024'],
          maxDate: lastDayOfMonth
        });
    </script>
</body>
</html>