<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mainpage</title>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white ">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="flex">
                <a href="#" type="button" class="self-center">
                    <i class="fa fa-bars" style="font-size: 30px;"></i>
                </a>
            </div>
        </nav>
        <div class="flex bg-black py-4 justify-center text-white space-x-10 text-xl">
            <a href="index.html" class="hover:text-blue-500">Sample</a>
            
        </div>
    </header>
    <main> 
        <div class="flex justify-center text-center mt-10">
            <div class="place-self-center">
                <img src="/img/catso.jpg" alt="cat on guy shoulder" class="rounded-full w-[250px] h-[240px] bg-center">
                <h2 class="text-3xl font-bold pt-5">Reyana</h2>
            </div>
        </div>
        
        <div class="flex justify-center space-x-7 mt-9">
            <div>
                <h3 class="font-semibold text-xl pl-2 mb-2">Test Result</h3>
                <div class="bg-white p-4 rounded-lg w-[500px]">
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    
                   
                </div>
            </div>
            <div>
                <h3 class="font-semibold text-xl pl-2 mb-2">Test Performed</h3>
                <div class="bg-white p-4 rounded-lg w-[500px]">
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    <div>
                        <input type="checkbox" name="PetInfo" id="PetInfo">
                        <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                    </div>
                    
                    
                </div>
                <div>

                </div>
            </div>
        </div>  
        <div class="flex justify-center space-x-7 mt-9">
            <div>
                <h3 class="font-semibold text-xl pl-2 mb-2">Diagnosis</h3>
                <div>
                    <textarea name="Diagnosis" id="Diagnosis" cols="55" rows="10" class="hover:border-blue-500 bg-gray-50 ml-3 p-2 my-1 border border-black rounded-md"></textarea>
                </div>
                
            </div>
            <div>
                <h3 class="font-semibold text-xl pl-2 mb-2">Prescribe Medicine</h3>
                <div>
                    <form action=""></form>
                    <textarea name="Diagnosis" id="Diagnosis" cols="55" rows="10" class="hover:border-blue-500 bg-gray-50 ml-3 p-2 my-1 border border-black rounded-md"></textarea>
                </div>
                
            </div>
        </div>
        <div class="flex justify-center space-x-4 mt-5">
            <div class="flex justify-end">
                <button class="border border-blue-800 text-blue-500 p-2 px-4 rounded-lg">Back</button>
            </div>
            <div class="flex justify-end">
                <button class="bg-blue-800 text-white p-2 px-4 rounded-lg">Save</button>
            </div>
        </div>
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>