<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mainpage</title>
    <script src="indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white ">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="flex">
                <a href="#" type="button" class="self-center">
                    <i class="fa fa-bars" style="font-size: 30px;"></i>
                </a>
            </div>
        </nav>
        
    </header>
    <main> 
        <div>
            <div class="flex justify-center">
                <div class="flex justify-center bg-white rounded-lg m-20 p-6 w-[450px]">
                    <form action="">
                        <div>
                            <h1 class="text-3xl font-semibold text-center">Login</h1>
                            <p class="text-center mt-2">
                                Are you a new user? <a href="#" class="underline hover:text-blue-500">Sign up</a>
                            </p>
                        </div>
                        <div class="mt-4">
                            <p class="px-3">Email<span class="text-red-600">*</span></p>
                            <input class="flex flex-grow hover:border-blue-500
                                bg-gray-50 ml-3 p-2 my-1 border border-black rounded-md w-80" type="email" name="" id="" placeholder="juan.delacruz@gmail.com">
                        </div>
                        <div class="mt-4">
                            <p class="px-3">Password<span class="text-red-600">*</span></p>
                            <input class="flex flex-grow hover:border-blue-500 bg-gray-50 ml-3 p-2 my-1 border border-black rounded-md w-80" type="password" name="" id="" placeholder="*******">
                        </div>
                        <div class="flex justify-center">
                            <button type="submit" class="hover:text-blue-500 hover:bg-white hover:border-black hover:border text-white text-xl border border-blue-800 bg-blue-800 rounded-md p-1 px-5 m-5">
                                Log in
                            </button>
                        </div>
                        <div class="flex justify-center">
                            <p>Or Log In With</p>
                        </div>
                        <div class="flex justify-center space-x-3 m-2">
                            <a href="#">
                                <img src="/img/google.svg" alt="google icon" class="w-[30px]">
                            </a>
                            <a href="#">
                                <img src="/img/facebook.png" alt="google icon" class="w-[30px]">
                            </a>
                            
                        </div>

                        
                    </form>
                    
                    
                </div>
            </div>
            
        </div>
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>