<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mainpage</title>
    <script src="indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="flex">
                <a href="#" class="rounded-lg bg-blue-800 p-2 px-5 mr-3 text-white self-center">Log in</a>
                <a href="#" type="button" class="self-center">
                    <i class="fa fa-bars" style="font-size: 30px;"></i>
                </a>
            </div>
        </nav>
        <div class="flex bg-black py-4 justify-center text-white space-x-10 text-xl">
            <a href="index.html" class="hover:text-blue-500">Home</a>
            <a href="OurVets.html" class="text-blue-500">Our Vets</a>
            <a href="Services.html" class="hover:text-blue-500">Services</a>
            <a href="AboutUs.html" class="hover:text-blue-500">About Us</a>
            <a href="Contacts.html" class="hover:text-blue-500">Contacts</a>
        </div>
    </header>
    <main> 
        <div>
            <h1 class="text-black font-bold text-3xl mt-10 flex justify-center">Our Veterinarians</h1>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex justify-between w-2/3 p-7 mt-8 bg-amber-100 rounded-lg">
                <div class="flex align-middle mr-7">
                    <img src="/img/vet.jpg" alt="Cat on back of veterinarian" height="300px" width="300px" class="rounded-full">
                </div>
                <div>
                    <div id="initialContent">
                        <h1 class="font-semibold text-2xl">Dr. Akihiro Juarez <br><span class="text-blue-500">Veterinarian</span></h1>
                        <p class="mt-3 text-xl">Lorem ipsum dolor sit amet consectetur. Maecenas at sit nisl purus vitae. Suspendisse cum etiam fringilla elementum diam nunc gravida. Vitae libero semper ultrices ac turpis donec.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between w-2/3 p-7 mt-8 bg-amber-100 rounded-lg">
                <div class="flex align-middle mr-7">
                    <img src="/img/vet.jpg" alt="Cat on back of veterinarian" height="300px" width="300px" class="rounded-full">
                </div>
                <div>
                    <div id="initialContent">
                        <h1 class="font-semibold text-2xl">Dr. Akihiro Juarez <br><span class="text-blue-500">Veterinarian</span></h1>
                        <p class="mt-3 text-xl">Lorem ipsum dolor sit amet consectetur. Maecenas at sit nisl purus vitae. Suspendisse cum etiam fringilla elementum diam nunc gravida. Vitae libero semper ultrices ac turpis donec.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between w-2/3 p-7 mt-8 bg-amber-100 rounded-lg">
                <div class="flex align-middle mr-7">
                    <img src="/img/vet.jpg" alt="Cat on back of veterinarian" height="300px" width="300px" class="rounded-full">
                </div>
                <div>
                    <div id="initialContent">
                        <h1 class="font-semibold text-2xl">Dr. Akihiro Juarez <br><span class="text-blue-500">Veterinarian</span></h1>
                        <p class="mt-3 text-xl">Lorem ipsum dolor sit amet consectetur. Maecenas at sit nisl purus vitae. Suspendisse cum etiam fringilla elementum diam nunc gravida. Vitae libero semper ultrices ac turpis donec.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between w-2/3 p-7 mt-8 bg-amber-100 rounded-lg">
                <div class="flex align-middle mr-7">
                    <img src="/img/vet.jpg" alt="Cat on back of veterinarian" height="300px" width="300px" class="rounded-full">
                </div>
                <div>
                    <div id="initialContent">
                        <h1 class="font-semibold text-2xl">Dr. Akihiro Juarez <br><span class="text-blue-500">Veterinarian</span></h1>
                        <p class="mt-3 text-xl">Lorem ipsum dolor sit amet consectetur. Maecenas at sit nisl purus vitae. Suspendisse cum etiam fringilla elementum diam nunc gravida. Vitae libero semper ultrices ac turpis donec.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between w-2/3 p-7 mt-8 bg-amber-100 rounded-lg">
                <div class="flex align-middle mr-7">
                    <img src="/img/vet.jpg" alt="Cat on back of veterinarian" height="300px" width="300px" class="rounded-full">
                </div>
                <div>
                    <div id="initialContent">
                        <h1 class="font-semibold text-2xl">Dr. Akihiro Juarez <br><span class="text-blue-500">Veterinarian</span></h1>
                        <p class="mt-3 text-xl">Lorem ipsum dolor sit amet consectetur. Maecenas at sit nisl purus vitae. Suspendisse cum etiam fringilla elementum diam nunc gravida. Vitae libero semper ultrices ac turpis donec.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>