<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Services</title>
    <script src="/js/indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100 bg-no-repeat bg-cover" style="background-image: url(/img/bg_overall.jpg);">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <a href="./Login.html" class="hidden sm:flex rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">Log in</a>
                <div class="relative inline-block">
                    <button class="sm:hidden text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="OurVets.html">Our Vets</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="Services.html">Services</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="AboutUs.html">About Us</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="Contacts.html">Contacts</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./Login.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Log in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hidden sm:flex bg-black py-4 justify-center text-white space-x-10 text-xl">
            <a href="./index.html" class="hover:text-blue-500">Home</a>
            <a href="./OurVets.html" class="hover:text-blue-500">Our Vets</a>
            <a href="./Services.html" class="text-blue-500">Services</a>
            <a href="./AboutUs.html" class="hover:text-blue-500">About Us</a>
            <a href="./Contacts.html" class="hover:text-blue-500">Contacts</a>
        </div>

    </header>
    <main>
        <div class="flex justify-center">
            <div class="grid grid-cols-3 m-8 gap-8">
                <div class="flex flex-col items-center">
                    <div>
                        <h1 class="font-semibold p-2 bg-white rounded-tl-md rounded-tr-md">Diagnostic Medicine</h1>
                    </div>
                    <div class="shadow-md">
                        <div>
                            <img src="/img/catso.jpg" alt="cat" height="200px" width="200px" alt="" class="rounded-t-lg"> 
                        </div>
                        <div class="bg-black w-full text-white p-[15px]" style="width: 200px;">
                            <h2>Employing technology to accurately assess your pet's health. From comprehensive exams to advanced diagnos
                                tic tests.</h1>
                        </div>
                    </div>
                    <a href="./Contacts.html" class="rounded-lg bg-blue-500 p-2 px-5 mt-4 text-white self-center hover:bg-blue-300">Learn More</a>
                </div>
                <div class="flex flex-col items-center">
                    <div>
                        <h1 class="font-semibold p-2 bg-white rounded-tl-md rounded-tr-md">Annual check-ups</h1>
                    </div>
                    <div class="shadow-md">
                        <div>
                            <img src="/img/catso.jpg" alt="cat" height="200px" width="200px" alt="" class="rounded-t-lg"> 
                        </div>
                        <div class="bg-black w-full text-white p-[15px]" style="width: 200px;">
                            <h2>Detailed examinations to monitor your pet's health and detect potential issues early for optimal care and prevention.</h1>
                        </div>
                    </div>
                    <a href="./Contacts.html" class="rounded-lg bg-blue-500 p-2 px-5 mt-4 text-white self-center hover:bg-blue-300">Learn More</a>
                </div>
                <div class="flex flex-col items-center">
                    <div>
                        <h1 class="font-semibold p-2 bg-white rounded-tl-md rounded-tr-md">Oral Prophylaxis</h1>
                    </div>
                    <div class="shadow-md">
                        <div>
                            <img src="/img/catso.jpg" alt="cat" height="200px" width="200px" alt="" class="rounded-t-lg"> 
                        </div>
                        <div class="bg-black w-full text-white p-[15px]" style="width: 200px;">
                            <h2>Professional dental cleanings and oral care services to prevent dental diseases and maintain your pet's oral health.</h1>
                        </div>
                    </div>
                    <a href="./Contacts.html" class="rounded-lg bg-blue-500 p-2 px-5 mt-4 text-white self-center hover:bg-blue-300">Learn More</a>
                </div>
                <div class="flex flex-col items-center">
                    <div>
                        <h1 class="font-semibold p-2 bg-white rounded-tl-md rounded-tr-md">Vaccinations</h1>
                    </div>
                    <div class="shadow-md">
                        <div>
                            <img src="/img/catso.jpg" alt="cat" height="200px" width="200px" alt="" class="rounded-t-lg"> 
                        </div>
                        <div class="bg-black w-full text-white p-[15px]" style="width: 200px;">
                            <h2>Administering essential vaccines to protect your pet from infectious diseases and maintain their overall health and wellbeing.</h1>
                        </div>
                    </div>
                    <a href="./Contacts.html" class="rounded-lg bg-blue-500 p-2 px-5 mt-4 text-white self-center hover:bg-blue-300">Learn More</a>
                </div>
                <div class="flex flex-col items-center">
                    <div>
                        <h1 class="font-semibold p-2 bg-white rounded-tl-md rounded-tr-md">In-House Laboratory</h1>
                    </div>
                    <div class="shadow-md">
                        <div>
                            <img src="/img/catso.jpg" alt="cat" height="200px" width="200px" alt="" class="rounded-t-lg"> 
                        </div>
                        <div class="bg-black w-full text-white p-[15px]" style="width: 200px;">
                            <h2> Utilizing on-site diagnostic facilities for prompt and accurate testing, enabling quick treatment decisions for your pet's health.</h1>
                        </div>
                    </div>
                    <a href="./Contacts.html" class="rounded-lg bg-blue-500 p-2 px-5 mt-4 text-white self-center hover:bg-blue-300">Learn More</a>
                </div>
                <div class="flex flex-col items-center">
                    <div>
                        <h1 class="font-semibold p-2 bg-white rounded-tl-md rounded-tr-md">Confinement</h1>
                    </div>
                    <div class="shadow-md">
                        <div>
                            <img src="/img/catso.jpg" alt="cat" height="200px" width="200px" alt="" class="rounded-t-lg"> 
                        </div>
                        <div class="bg-black w-full text-white p-[15px]" style="width: 200px;">
                            <h2>Providing comfortable and secure facilities for the temporary housing and care of your pet during recovery or medical treatment.</h1>
                        </div>
                    </div>
                    <a href="./Contacts.html" class="rounded-lg bg-blue-500 p-2 px-5 mt-4 text-white self-center hover:bg-blue-300">Learn More</a>
                </div>
            </div>
        </div>
        
    </main>
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
</body>
</html>