<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pet Owners</title>
    <script src="/js/indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100 bg-no-repeat bg-cover" style="background-image: url(/img/bg_overall.jpg);">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <div class="flex">
                </div>
                <div class="relative inline-block mr-3">
                    <button class="text-center p-2 bg-blue-800 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Messages'), event">
                        <i class="fa fa-envelope text-xl font-light text-white px-2"></i>
                    </button>
                    <div id="Messages" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md pb-5">
                        <ul class="py-4 font-bold">
                            <li class="hover:bg-blue-100 p-2">You've got a message!</li>
                            <li class="hover:bg-blue-100 p-2">You have an appointment by 2 hours</li>
                            <li class="hover:bg-blue-100 p-2">Your pet is cleared for appointment</li>
                        </ul>
                        <a href="./CreateNotif.html" class="bg-blue-800 text-white p-2 rounded-lg">Create Notification</a>
                    </div>
                </div>
                <div class="relative inline-block">
                    <button class="text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewPetOwner.html">Pet Owners</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewAppoint.html">Appointments</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./index.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="flex flex-col items-center mt-10"> 
            <div class="flex justify-between place-items-center w-1/2 space-x-5">
                <div>
                    <form action="#" class="flex">
                        <input class="flex hover:border-blue-500 bg-gray-50 p-1 my-1 border border-black rounded-md w-80" type="text" name="SearchBar" id="SearchBar" placeholder="Find Pet Owner">
                        <button type="submit" class="ml-3 p-1 px-3 bg-blue-800 rounded-lg text-white border border-blue-800 hover:bg-slate-100 hover:text-blue-800">
                            <i class="fa fa-search "></i>
                        </button>
                    </form>
                </div>
                <div class="flex space-x-2">
                    <a href="./ViewAppoint.html" class="hover:bg-blue-600 hover:border-blue-600 bg-blue-800 border border-blue-800 text-white p-2 rounded-lg">View Appointment</a>
                    <a href="./ViewAllPets.html" class="hover:bg-blue-200 border border-blue-800 text-black p-2 rounded-lg">View Pets</a>          
                </div>
                
            </div>
            <div class="block mx-auto w-1/2">
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/Sal.jpg" alt="Prince Herb" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-5 text-xl">Prince Herb</h2>
                        <a href="ViewPetList.html" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Pet Owner Details</a>
                    </div>
                </div>
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/Sal.jpg" alt="Prince Herb" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-5 text-xl">Prince Herb</h2>
                        <a href="ViewPetList.html" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Pet Owner Details</a>
                    </div>
                </div>
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/Sal.jpg" alt="Prince Herb" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-5 text-xl">Prince Herb</h2>
                        <a href="ViewPetList.html" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Pet Owner Details</a>
                    </div>
                </div>
            </div>    
            
            
        </div>
    
    
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>