<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mainpage</title>
    <script src="/js/indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <div class="flex">
                    <a href="#" onclick="showContent('adminView'), event" class="rounded-lg bg-blue-800 p-2 px-5 mr-3 text-white self-center">Admin View</a>
                    <a href="./ViewPetList.html" class="rounded-lg bg-blue-800 p-2 px-5 mr-3 text-white self-center">PO View</a>
                </div>
                <div class="relative inline-block">
                    <button class="text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewPetList.html">Pets</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewAppoint.html">Appointments</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./index.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main> 
        <div class="flex flex-col items-center mt-8">
            <div class="flex justify-between place-items-center w-1/2 space-x-5">
                <div class="flex place-self-center">
                    <p>Sort by:</p>
                    <select class="bg-slate-100 font-bold" name="Sort" id="Sort">
                        <option value="None">None</option>
                        <option value="Date">Date - Newest</option>
                        <option value="Date">Date - Oldest</option>
                        <option value="AZ">A-Z</option>
                        <option value="ZA">Z-A</option>
                    </select>
                </div>
                <div class="flex">
                    <a href="./AddAppointment.html" class="bg-blue-800 text-white p-2 rounded-lg mr-3">Add Appointment</a>
                    <input class="flex hover:border-blue-500 bg-gray-50 p-1 my-1 border border-black rounded-md w-80" type="text" name="SearchB" id="SearchB" placeholder="Search Bar">
                </div>
                
            </div>
            <div id="initialContent" class="block mx-auto w-1/2">
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/rando.jpg" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Services Availed</a>
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Appointed Pet</a>
                    </div>
                </div>
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/rando.jpg" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Services Availed</a>
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Appointed Pet</a>
                    </div>
                </div>
                
            </div>
            <div id="adminView" class="block mx-auto w-1/2">
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/rando.jpg" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Services Availed</a>
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Appointed Pet</a>
                        <a href="#" class="border border-blue-800 p-2 rounded-lg">Cancel</a>
                    </div>
                </div>
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/rando.jpg" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Services Availed</a>
                        <a href="#" class="bg-blue-800 text-white p-2 rounded-lg">Appointed Pet</a>
                        <a href="#" class="border border-blue-800 p-2 rounded-lg">Cancel</a>
                    </div>
                </div>
            </div>


            

    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>