<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pet Health Record</title>
    <script src="/js/indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <div class="flex">
                    <a href="#" onclick="PHRContent()" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">Admin View</a>
                    <a href="./ViewPHR.html" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">Pet Owner View</a>
                </div>
                <div class="relative inline-block mr-3">
                    <button class="text-center p-2 bg-blue-800 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Messages'), event">
                        <i class="fa fa-envelope text-xl font-light text-white px-2"></i>
                    </button>
                    <div id="Messages" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md pb-5">
                        <ul class="py-4 font-bold">
                            <li class="hover:bg-blue-100 p-2">You've got a message!</li>
                            <li class="hover:bg-blue-100 p-2">You have an appointment by 2 hours</li>
                            <li class="hover:bg-blue-100 p-2">Your pet is cleared for appointment</li>
                        </ul>
                        <a href="./CreateNotif.html" class="adminView bg-blue-800 text-white p-2 rounded-lg hidden">Create Notification</a>
                    </div>
                </div>
                
                <div class="relative inline-block">
                    <button class="text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewPetList.html">Pets</a></li>
                            <li class="adminView hover:bg-blue-100 p-2 hidden"><a href="./ViewPetOwner.html">Pet Owners</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewAppoint.html">Appointments</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./index.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main> 
        <div class="flex justify-center text-center mt-8">
            <div class="">
                <img src="/img/catso.jpg" alt="cat on guy shoulder" class="rounded-full w-[250px] h-[240px] bg-center">
                <h2 class="text-3xl font-bold pt-5">Reyana</h2>
            </div>
        </div>
        <div class="mt-10">
            <div class="flex justify-center space-x-7">
                <div class="hidden adminView">
                    <h3 class="font-semibold text-xl pl-2 mb-2">Pet Owner</h3>
                    <div class="flex items-center bg-white p-5 rounded-lg w-[500px]">
                        <img src="/img/rando.jpg" alt="Pet Owner Profile Pic" class="h-[170px] rounded-full">
                        <div class="ml-5">
                            <h1 class="text-3xl font-bold">Eric Delos Reyes</h1>
                            <div class="flex justify-center mt-5">
                                <a href="#" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-3 text-white">View Profile</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="font-semibold text-xl pl-2 mb-2">Pet Basic Information</h3>
                    <div class="bg-white p-5 rounded-lg w-[500px]">
                        <div>
                            <p>Breed: <span class="font-bold">Domestic Shorthair</span></p>
                            <p>Age: <span class="font-bold">5 years old</span></p>
                            <p>Gender: <span class="font-bold">Male</span></p>
                            <p>Exercise: <span class="font-bold">Engages in regular play and exercise to maintain a healthy weight and mental stimulation.</span></p>

                        </div>
                        <div class="flex justify-end mt-3">
                            <a href="./UpdatePetInfo.html" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg hidden adminView">Update</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center space-x-7 mt-9">
                <div class="hidden adminView">
                    <h3 class="font-semibold text-xl pl-2 mb-2">Print Report</h3>
                    <div class="bg-white p-4 rounded-lg w-[500px]">
                        <div>
                            <input type="checkbox" name="PetInfo" id="PetInfo">
                            <label for="PetInfo" class="ml-2 text-xl">Pet Information</label>
                        </div>
                        <div>
                            <input type="checkbox" name="PetInfo" id="PetInfo">
                            <label for="PetInfo" class="ml-2 text-xl">Visit Details</label>
                        </div>
                        <div>
                            <input type="checkbox" name="PetInfo" id="PetInfo">
                            <label for="PetInfo" class="ml-2 text-xl">Diagnostic Tests</label>
                        </div>
                        <div>
                            <input type="checkbox" name="PetInfo" id="PetInfo">
                            <label for="PetInfo" class="ml-2 text-xl">Treatment Plan</label>
                        </div>
                        <div>
                            <input type="checkbox" name="PetInfo" id="PetInfo">
                            <label for="PetInfo" class="ml-2 text-xl">Authorization</label>
                        </div>
                        
                        <div class="flex justify-end">
                            <button class="bg-blue-800 hover:bg-blue-600 text-white p-2 px-4 rounded-lg">Print</button>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="font-semibold text-xl pl-2 mb-2">Health Details</h3>
                    <div class="bg-white p-5 rounded-lg w-[500px]">
                        <div>
                            <p>Health Status: <span class="font-bold">Generally healthy.</span></p>
                            <p>Diet: <span class="font-bold">Fed a balanced diet of commercial cat food recommended by the veterinarian.</span></p>
                            <p>Preventive Care: <span class="font-bold">Regular flea and tick prevention treatments administered as recommended by the veterinarian.</span></p>

                        </div>
                        <div class="flex justify-end mt-3">
                            <a href="./InputDiagnosis.html" class="hidden bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg adminView">Update</a>
                        </div>
                    </div>
                    <div class="flex justify-end mt-10 mr-3">
                        <a href="./ViewPetList.html" class="bg-blue-800 hover:bg-blue-600 text-white p-2 px-4 rounded-lg" >Back</a>
                    </div>
                    <div class="flex justify-end">
                        <div class="mt-3 mr-3">
                            <button onclick="openPopup('ConfirmPopup3')" class="bg-red-600 border border-red-600 text-white hover:bg-red-500 p-2 px-4 rounded-lg">Remove Pet</button>
                            <div id="ConfirmPopup3" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                                <div class="leading-6 text-center">
                                    <p>Your request will be <span class="text-red-400">done in  2 weeks</span>. Are you sure you want <br> to remove your beloved pet?</p>
                                </div>
                                <div class="flex justify-center space-x-3">
                                    <a href="./ViewPetList.html" class="mt-[10px] bg-blue-800 hover:bg-red-600 text-white p-2 rounded-lg">Confirm</a>
                                    <button onclick="closePopup('ConfirmPopup3')" class="mt-[10px] bg-white border border-blue-500 text-blue-500 hover:bg-blue-100 p-2 rounded-lg">Close</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>