<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>My Pets</title>
    <script src="/js/indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100 bg-no-repeat bg-cover" style="background-image: url(/img/bg_overall.jpg);">
    <header class="sticky top-0">
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <div class="flex">
                    <a href="#" onclick="PHRContent()" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">Admin View</a>
                    <a href="./ViewPetList.html" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">Pet Owner View</a>
                </div>
                <div class="relative inline-block mr-3">
                    <button class="text-center p-2 bg-blue-800 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Messages'), event">
                        <i class="fa fa-envelope text-xl font-light text-white px-2"></i>
                    </button>
                    <div id="Messages" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md pb-5">
                        <ul class="py-4 font-bold">
                            <li class="hover:bg-blue-100 p-2">You've got a message!</li>
                            <li class="hover:bg-blue-100 p-2">You have an appointment by 2 hours</li>
                            <li class="hover:bg-blue-100 p-2">Your pet is cleared for appointment</li>
                        </ul>
                        <a href="./CreateNotif.html" class="adminView bg-blue-800 text-white p-2 rounded-lg hidden">Create Notification</a>
                    </div>
                </div>
                
                <div class="relative inline-block">
                    <button class="text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewPetList.html">Pets</a></li>
                            <li class="adminView hover:bg-blue-100 p-2 hidden"><a href="./ViewPetOwner.html">Pet Owners</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewAppoint.html">Appointments</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./index.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <main> 
        <div class="hidden adminView">
            <div class="flex justify-center mt-10">
                <h1 class="font-bold text-xl">Pet Owner Details</h1>
            </div>
            <div class="flex justify-center items-center p-5 space-x-8">
                <div class="flex flex-col items-center">
                    <img src="/img/rando.jpg" alt="Male guy" class="rounded-full w-[200px]">
                    <h2 class="font-semibold text-xl mt-6">Juan Dela Cruz</h2>
                </div>
                <div class="bg-white rounded-lg p-5 block self-center space-y-5">
                    <p>Age: <span class="font-bold">18</span></p>
                    <p>Gender: <span class="font-bold">Male</span></p>
                    <p>Home Address: <span class="font-bold">Somewhere In the Rainbow</span></p>
                    <p>Work Address: <span class="font-bold">Tokyo, Japan</span></p>
                    <p>Working Hours: <span class="font-bold">6pm-9am</span></p>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <h1 class="font-bold text-2xl mt-7">Your Pets</h1>
        </div>
        
        
        <div class="grid justify-center space-y-8">
            <div class="flex justify-between mt-10 col-span-3 ml-10">
                <form action="#" class="flex">
                    <input class="flex hover:border-blue-500 bg-gray-50 p-1 my-1 border border-black rounded-md w-80" type="text" name="SearchBar" id="SearchBar" placeholder="Search A Pet">
                    <button type="submit" class="ml-3 px-3 bg-blue-800 rounded-lg text-white hover:bg-blue-600">
                        <i class="fa fa-search "></i>
                    </button>
                </form>
                <div class="space-x-4">
                    <a href="./AddPet.html" class="border border-blue-800 hover:bg-blue-100 text-blue-800 p-2 rounded-lg px-5">
                        Add Pet
                    </a>
                    <a href="./ViewAppoint.html" class="px-6 rounded-lg p-2 bg-blue-800 hover:bg-blue-600 text-white ">
                        View Appointments
                    </a>
                </div>
            </div>
            <div class="ml-10">
                <div>
                    <img src="/img/catso.jpg" alt="cat" width="400px" alt="" class="rounded-t-lg"> 
                </div>
                <div class="flex flex-col items-center bg-white p-[15px] w-[400px]" >
                    <h2 class="font-bold text-2xl">Antonov, The Cat</h2>
                    <a href="./ViewPHR.html" class="rounded-lg hover:bg-blue-600 bg-blue-800 mt-3 p-2 px-5 text-white self-center">View Pet Infromation</a>
                </div>
            </div>
            <div class="ml-10">
                <div>
                    <img src="/img/catso.jpg" alt="cat" width="400px" alt="" class="rounded-t-lg"> 
                </div>
                <div class="flex flex-col items-center bg-white p-[15px] w-[400px]" >
                    <h2 class="font-bold text-2xl">Antonov, The Cat</h2>
                    <a href="./ViewPHR.html" class="rounded-lg hover:bg-blue-600 bg-blue-800 mt-3 p-2 px-5 text-white self-center">View Pet Infromation</a>
                </div>
                
            </div>
            <div class="ml-10">
                <div>
                    <img src="/img/catso.jpg" alt="cat" width="400px" alt="" class="rounded-t-lg"> 
                </div>
                <div class="flex flex-col items-center bg-white p-[15px] w-[400px]" >
                    <h2 class="font-bold text-2xl">Antonov, The Cat</h2>
                    <a href="./ViewPHR.html" class="rounded-lg hover:bg-blue-600 bg-blue-800 mt-3 p-2 px-5 text-white self-center">View Pet Infromation</a>
                </div>
                
            </div>
            <div class="ml-10">
                <div>
                    <img src="/img/catso.jpg" alt="cat" width="400px" alt="" class="rounded-t-lg"> 
                </div>
                <div class="flex flex-col items-center bg-white p-[15px] w-[400px]" >
                    <h2 class="font-bold text-2xl">Antonov, The Cat</h2>
                    <a href="./ViewPHR.html" class="rounded-lg hover:bg-blue-600 bg-blue-800 mt-3 p-2 px-5 text-white self-center">View Pet Infromation</a>
                </div>
                
            </div>
            <div class="ml-10">
                <div>
                    <img src="/img/catso.jpg" alt="cat" width="400px" alt="" class="rounded-t-lg"> 
                </div>
                <div class="flex flex-col items-center bg-white p-[15px] w-[400px]" >
                    <h2 class="font-bold text-2xl">Antonov, The Cat</h2>
                    <a href="./ViewPHR.html" class="rounded-lg hover:bg-blue-600 bg-blue-800 mt-3 p-2 px-5 text-white self-center">View Pet Infromation</a>
                </div>
                
            </div>
        </div>
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>

</body>
</html>