<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Appointments</title>
    <script src="/js/indexJs.js"></script>
</head>
<body class="font-sans bg-slate-100">
    <header class="sticky top-0">
        <div class="hidden fixed top-1/2 left-1/2 tran"></div>
        <nav class="flex justify-between items-center p-4 bg-white">
            <div>
                <a href="./index.html" class="flex text-black font-bold text-3xl align-middle"><span class="text-blue-800 text-3xl font-bold">PARMS</span>Clinic</a>
            </div>
            <div class="block sm:flex">
                <div class="flex">
                    <a href="#" onclick="PHRContent()" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">Admin View</a>
                    <a href="./ViewAppoint.html" class="rounded-lg bg-blue-800 hover:bg-blue-600 p-2 px-5 mr-3 text-white self-center">PO View</a>
                </div>
                <div class="relative inline-block mr-3">
                    <button class="text-center p-2 bg-blue-800 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Messages'), event">
                        <i class="fa fa-envelope text-xl font-light text-white px-2"></i>
                    </button>
                    <div id="Messages" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4 font-bold">
                            <li class="hover:bg-blue-100 p-2">You've got a message!</li>
                            <li class="hover:bg-blue-100 p-2">You have an appointment by 2 hours</li>
                            <li class="hover:bg-blue-100 p-2">Your pet is cleared for appointment</li>
                        </ul>
                    </div>
                </div>
                <div class="relative inline-block">
                    <button class="text-center p-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg" onclick="menuContent('Menu'), event">
                        <i class="fa fa-bars text-xl font-light px-2"></i>
                    </button>
                    <div id="Menu" class="hidden sm:hidden text-center right-0 w-[200px] bg-white absolute mt-2 rounded-lg shadow-md">
                        <ul class="py-4">
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewPetList.html">Pets</a></li>
                            <li class="adminView hover:bg-blue-100 p-2 hidden"><a href="./ViewPetOwner.html">Pet Owners</a></li>
                            <li class="hover:bg-blue-100 p-2"><a href="./ViewAppoint.html">Appointments</a></li>
                            <li class="mt-3 hover:bg-blue-100 p-2">
                                <a href="./index.html" class="rounded-lg bg-blue-800 hover:bg-blue-900 p-2 px-5  text-white self-center">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main> 
        
        
        <div class="flex flex-col items-center mt-8">
            
            <div class="flex justify-center text-center mb-8">
                <h1 class="text-2xl font-bold">
                    My Appointment List
                </h1>
            </div>
            <div class="flex justify-between place-items-center w-2/3 space-x-5">
                <div class="flex">
                    <div>
                        <a href="./ViewPetList.html" class="border border-blue-800 hover:bg-blue-100 text-md text-blue-800 p-2 rounded-lg mr-3">
                            Go Back
                        </a>
                    </div>
                    <p>Sort by:</p>
                    <select class="bg-slate-100 font-bold" name="Sort" id="Sort">
                        <option value="None">None</option>
                        <option value="Date">Date - Newest</option>
                        <option value="Date">Date - Oldest</option>
                        <option value="AZ">A-Z</option>
                        <option value="ZA">Z-A</option>
                    </select>
                </div>
                <div class="flex">
                    
                    <a href="./AddAppointment.html" class="initialContent bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg mr-3">Add Appointment</a>
                    <form action="" class="flex">
                        <input class="flex hover:border-blue-500 bg-gray-50 p-1 my-1 border border-black rounded-md w-60" type="text" name="SearchB" id="SearchB" placeholder="Search appointment">
                        <button type="submit" class="ml-3 p-1 px-3 bg-blue-800 hover:bg-blue-600 rounded-lg text-white">
                            <i class="fa fa-search "></i>
                        </button>
                    </form>
                    
                </div>
                
            </div>
            <div class="initialContent block mx-auto w-2/3">
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/DocFace.png" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Dr. Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <button onclick="openPopup('servicesPopup')" class="bg-blue-800 text-white p-2 rounded-lg hover:bg-blue-600">Services Availed</button>
                        <div id="servicesPopup" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Service 1</p>
                                <p>Service 2</p>
                                <p>Service 3</p>
                                <p>Service 4</p>  
                            </div>
                            <button onclick="closePopup('servicesPopup')" class="mt-[10px] bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Close</button>
                        </div>
                        <button onclick="openPopup('appointmentPopup')" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg ">Appointed Pet</button>
                        <div id="appointmentPopup" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Appointed Pet A</p>
                                <p>Appointed Pet B</p>
                                <p>Appointed Pet C</p>
                                <p>Appointed Pet D</p>
                            </div>
                            <button onclick="closePopup('appointmentPopup')" class="mt-[10px] bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Close</button>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/DocFace.png" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Dr. Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <button onclick="openPopup('servicesPopup')" class="bg-blue-800 text-white p-2 rounded-lg hover:bg-blue-600">Services Availed</button>
                        <div id="servicesPopup" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Service 1</p>
                                <p>Service 2</p>
                                <p>Service 3</p>
                                <p>Service 4</p>  
                            </div>
                            <button onclick="closePopup('servicesPopup')" class="mt-[10px] bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Close</button>
                        </div>
                        <button onclick="openPopup('appointmentPopup')" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg ">Appointed Pet</button>
                        <div id="appointmentPopup" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Appointed Pet A</p>
                                <p>Appointed Pet B</p>
                                <p>Appointed Pet C</p>
                                <p>Appointed Pet D</p>
                            </div>
                            <button onclick="closePopup('appointmentPopup')" class="mt-[10px] bg-blue-800 text-white p-2 rounded-lg">Close</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="adminView hidden mx-auto w-1/2">
                <div id="Customer1" class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/rando.jpg" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <button onclick="openPopup('AdminSrvPopup1')" class="bg-blue-800 text-white p-2 rounded-lg hover:bg-blue-600">Services Availed</button>
                        <div id="AdminSrvPopup1" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Service 1</p>
                                <p>Service 2</p>
                                <p>Service 3</p>
                                <p>Service 4</p>  
                            </div>
                            <button onclick="closePopup('AdminSrvPopup1')" class="mt-[10px] bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Close</button>
                        </div>
                        <button onclick="openPopup('AdminAptmPopup1')" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg ">Appointed Pet</button>
                        <div id="AdminAptmPopup1" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Appointed Pet A</p>
                                <p>Appointed Pet B</p>
                                <p>Appointed Pet C</p>
                                <p>Appointed Pet D</p>
                            </div>
                            <button onclick="closePopup('AdminAptmPopup1')" class="mt-[10px] bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg">Close</button>
                        </div>
                        <button onclick="openPopup('ConfirmPopup')" class="border border-blue-800 hover:bg-blue-100 p-2 rounded-lg">Cancel</button>
                        <div id="ConfirmPopup" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Are you sure you want cancel this appointment?</p>
                            </div>
                            <button onclick="HideMe('Customer1'), closePopup('ConfirmPopup')" class="mt-[10px] bg-blue-800 text-white p-2 rounded-lg">Confirm</button>
                            <button onclick="closePopup('ConfirmPopup')" class="mt-[10px] bg-white border border-blue-500 text-blue-500 p-2 rounded-lg">Close</button>
                            
                        </div>
                    </div>
                    
                </div>
                <div id="Customer2" class="flex justify-center bg-white rounded-lg my-6 p-6">
                    <div class="mr-6">
                        <img src="/img/rando.jpg" alt="Random guy" class="w-[150px] rounded-full">
                    </div>
                    <div class="place-self-center ">
                        <h2 class="font-bold mb-2 text-3xl mr-10">Juan Dela Cruz</h2>
                        <p class="text-lg">7pm-10pm</p>
                    </div>
                    <div class="flex flex-col place-self-center text-center space-y-3">
                        <button onclick="openPopup('AdminSrvPopup2')" class="bg-blue-800 text-white p-2 rounded-lg hover:bg-blue-600">Services Availed</button>
                        <div id="AdminSrvPopup2" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Service 1</p>
                                <p>Service 2</p>
                                <p>Service 3</p>
                                <p>Service 4</p>  
                            </div>
                            <button onclick="closePopup('AdminSrvPopup2')" class="mt-[10px] bg-blue-800 text-white p-2 rounded-lg">Close</button>
                        </div>
                        <button onclick="openPopup('AdminAptmPopup2')" class="bg-blue-800 hover:bg-blue-600 text-white p-2 rounded-lg ">Appointed Pet</button>
                        <div id="AdminAptmPopup2" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Appointed Pet A</p>
                                <p>Appointed Pet B</p>
                                <p>Appointed Pet C</p>
                                <p>Appointed Pet D</p>
                            </div>
                            <button onclick="closePopup('AdminAptmPopup2')" class="mt-[10px] bg-blue-800 text-white p-2 rounded-lg">Close</button>
                        </div>
                        <button onclick="openPopup('ConfirmPopup2')" class="border border-blue-800 hover:bg-blue-100 p-2 rounded-lg">Cancel</button>
                        <div id="ConfirmPopup2" class="border border-black/10 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 rounded-lg shadow-lg max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
                            <div class="leading-6">
                                <p>Are you sure you want cancel this appointment?</p>
                            </div>
                            <button onclick="HideMe('Customer2'), closePopup('ConfirmPopup2')" class="mt-[10px] bg-blue-800 text-white p-2 rounded-lg">Confirm</button>
                            <button onclick="closePopup('ConfirmPopup2')" class="mt-[10px] bg-white border border-blue-500 text-blue-500 p-2 rounded-lg">Close</button>
                            
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer class="mt-20">
        <div class="bg-black/75 text-white p-6">
            <div class="flex justify-between">
                <h2>All Rights Reserved. 2024.</h2>
                <h2>Website Made By ArkiTech</h2>
                <h2>Contact Us</h2>
            </div>
        </div>
    </footer>
</body>
</html>